version: '3.7'

services:
  webapp:
    image: teecke/gp-php:0.1.0
    ports:
      - 8080:80
    volumes:
      - ./webapp:/var/www/html:ro
    restart: unless-stopped
      
networks:
    default:
      external:
        name: platform_products

volumes:
  app:
